hr {
    margin: 0;
}

.rodapé {
    font-size: 50px;
    font-family: var(--fonte-principal);
    font-weight: 700;
    background-color: var(--branco);
    padding: 1em;
}

.rodapé__imagem {
    width: 90px;
    height: 90px;
    display: flex;
    padding: 1em;
}

@media (max-width: 480px) {

    hr {
        margin: 0;
        width: 480px;
    }

    .rodapé {
        width: 480px;
        font-size: 50px;
        font-family: var(--fonte-principal);
        font-weight: 700;
        background-color: var(--branco);
        padding: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .rodapé__imagem {
        width: 75px;
        height: 75px;
        display: flex;
        padding: 1em;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .rodapé__titulo {
        font-size: 35px;
        padding-left: 0;
        padding-right: 0;
    }

    .github {
        font-size: 20px;
        font-family: var(--fonte-principal);
        font-weight: 700;
        display: flex;
        padding: 1em;
        padding-left: 0;
        padding-right: 0;
    }
}